body{
    background: url("./img/1400x600.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
}
.t1{
    font-size: xx-large;
    left: -5000px;
    color: black;
}
.t2{
    color: white;
}